<?xml version='1.0' encoding='utf-8'?>
<widget id="com.clientefordelivery" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cliente</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	<gap:plugin name="pushbots-cordova-plugin" spec="1.6.14" source="npm" />
	<preference name="android-minSdkVersion" value="19" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="phonegap-version" value="cli-9.0.0" />


</widget>
